[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GRAPE"]
	path = GRAPE
	url = https://github.com/cran/GRAPE
[submodule "crso"]
	path = crso
	url = https://github.com/cran/crso
